@charset "UTF-8";
:root {
  --color-dark: #000000;
  --color-light: #ffffff;
  --color-dark-blue: #3E9CDC;
  --color-light-blue: #43ABF0;
  --color-header: rgba(16, 16, 29, 0.9);
  --color-footer: #3D4050;
  --color-grey: #272733;
  --font-family-base: "Lato", sans-serif;
  --font-family-alternative: "Raleway", sans-serif;
  --header-height: 100px;
  --container-max-width: 1172px;
  --container-padding-x: 15px;
  --transition-duration: 0.2s;
}

/**
  Нормализация блочной модели
 */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
  list-style: none;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
 */
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
 */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
  Упрощаем работу с изображениями
 */
img {
  display: block;
  max-width: 100%;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  height: 100%;
  /**
    Плавный скролл
   */
  scroll-behavior: smooth;
}

body {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  min-height: 100%;
  /**
    Унифицированный интерлиньяж
   */
  line-height: 1.5;
}

/**
  Приводим к единому цвету svg-элементы
 */
svg *[fill] {
  fill: currentColor;
}

svg *[stroke] {
  stroke: currentColor;
}

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
  -webkit-transition-property: fill, stroke;
  transition-property: fill, stroke;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@font-face {
  font-family: "Raleway";
  src: url("./fonts/raleway-extrabold-webfont.woff2") format("woof2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lato";
  src: url("./fonts/lato-semibold.woff2") format("woof2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lato";
  src: url("./fonts/lato-bold.woff2") format("woof2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lato";
  src: url("./fonts/lato-heavy.woff2") format("woof2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lato";
  src: url("./fonts/lato-regular.woff2") format("woof2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
body {
  font-family: var(--font-family-base);
  background-color: var(--color-light);
  padding-top: var(--header-height);
}

a {
  color: var(--color-light);
  text-decoration: none;
}

a:hover {
  color: var(--color-light-blue);
}

a,
button,
input,
svg * {
  -webkit-transition-duration: var(--transition-duration);
          transition-duration: var(--transition-duration);
}

.header,
.footer {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.header {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  display: -ms-grid;
  display: grid;
  width: 100%;
  min-height: var(--header-height);
  background-color: var(--color-header);
}

.container {
  max-width: calc(var(--container-max-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex-row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.space-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

.navigation {
  padding: 33px 0;
  position: fixed;
  width: 100%;
  z-index: 3;
}

.navigation-box {
  max-width: var(--container-max-width);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation-title {
  color: var(--color-light);
  font-family: var(--font-family-alternative);
  font-size: min(18.75vw, 28px);
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-transform: uppercase;
  margin: 0;
  margin-right: auto;
}

.navigation-title span {
  color: var(--color-light-blue);
}

.header-menu-list {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 60px;
  list-style: none;
}

.heder-menu-items {
  display: inline;
  color: var(--color-light);
  text-align: left;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  font-size: min(18.75vw, 13px);
}

.header-menu-link {
  font-family: var(--font-family-base);
  font-size: 13px;
  font-weight: 400;
  line-height: 1.2;
}

.navigation-item.focus-visible:focus {
  color: var(--color-light-blue);
}

.promo {
  padding: 203px 0;
  background-image: url("./images/main_img.jpg");
  background-color: var(--color-light);
  background-repeat: no-repeat;
  background-position: 100% 100%;
  background-size: cover;
  place-items: center;
  min-height: 100vh;
}

.promo-title {
  font-family: var(--font-family-base);
  font-size: min(10vw, 48px);
  font-weight: 700;
  line-height: 1.2;
  text-align: left;
  text-transform: uppercase;
}

.highlight {
  color: var(--color-dark-blue);
}

.promo-subtitle {
  font-family: var(--font-family-base);
  font-size: min(18vw, 20px);
  font-weight: 700;
  line-height: 1.2;
  text-align: left;
}

.promo-list {
  list-style-type: none;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 5px;
}

.promo-list li {
  position: relative;
  padding-left: 20px;
}

.promo-list li::before {
  content: "-";
  position: absolute;
  left: 0;
}

.promo-subtitle-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 10px;
}

.promo-subtitle-list-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 80px;
}

.promo-box {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
}

.promo-button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 15px 55px;
  width: 183px;
  color: var(--color-light);
  background-color: var(--color-dark-blue);
  border: 1px solid var(--color-light);
  border-radius: 4px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 400;
  font-size: min(10vw, 13px);
  text-align: center;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.promo-button:hover {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 15px 55px;
  width: 183px;
  color: var(--color-grey);
  background-color: var(--color-light);
  border: 1px solid #6F6D7B;
  border-radius: 4px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 400;
  font-size: min(10vw, 13px);
  text-align: center;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 80px;
  background-image: url("./images/map_img.jpg");
  background-color: var(--color-grey);
  color: var(--color-light);
  background-repeat: no-repeat;
  background-position: 100% 100%;
  background-size: cover;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.order .order-title {
  font-family: var(--font-family-base);
  font-size: min(20vw, 36px);
  font-weight: 800;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.order .order-subtitle {
  font-family: var(--font-family-base);
  font-size: min(12vw, 18px);
  font-weight: 400;
  line-height: 1.2;
  text-align: center;
  color: #bbbbbb;
}

.order-types-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 80px 0;
  -webkit-column-gap: 15px;
     -moz-column-gap: 15px;
          column-gap: 15px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.order-types-list .order-types-item {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 209px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 10px;
  row-gap: 20px;
  position: relative;
}
.order-types-list .order-types-item .step-icon-container {
  height: 100px;
  width: 100px;
}
.order-types-list .order-types-item .step-icon-container .blue-circle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-color: #3E9CDC;
  border: 5px solid #286690;
}
.order-types-list .order-types-item .step-icon-container .step-icon-wrapper {
  height: 31px;
  width: 31px;
}
.order-types-list .order-types-item .step-icon-container .glass-icon {
  background-image: url("./icons/magnify-glass.svg");
}
.order-types-list .order-types-item .step-icon-container .percent-icon {
  height: 31px;
  width: 31px;
  background-image: url("./icons/percent.svg");
}
.order-types-list .order-types-item .step-icon-container .subtract-icon {
  height: 42px;
  width: 38px;
  background-image: url("./icons/subtract.svg");
}
.order-types-list .order-types-item .step-icon-container .mail-icon {
  height: 30px;
  width: 36px;
  background-image: url("./icons/mail.svg");
}
.order-types-list .order-types-item .step-icon-container .dollar-icon {
  height: 26px;
  width: 39px;
  background-image: url("./icons/dollar.svg");
}
.order-types-list .order-points-container {
  height: 100px;
  width: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.order-types-list .order-points-container .order-point-position-helper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
}
.order-types-list .order-points-container .order-point-position-helper .order-point {
  width: 6px;
  height: 6px;
  background-color: #C4C4C4;
  border-radius: 50%;
}

.order-list-subtitle {
  font-family: var(--font-family-base);
  font-size: min(10vw, 16px);
  font-weight: 400;
  line-height: 1.2;
  text-align: center;
}

.order-types-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 30px;
}

.order-inputs-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
}

.progress-upload-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 23px;
     -moz-column-gap: 23px;
          column-gap: 23px;
}

.order-types-form-input {
  width: 370px;
  height: 48px;
}

.form {
  max-width: 500px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-input {
  padding: 10px;
  border: 1px solid #fff;
  border-radius: 4px;
  background-color: #ffffff;
  opacity: 85%;
  font-family: var(--font-family-base);
  font-size: min(12vw, 18px);
  color: var(--color-grey);
}

.progress-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.progress-header {
  font-family: var(--font-family-base);
  font-size: min(12vw, 18px);
  font-weight: 400;
  line-height: 1.2;
  text-align: left;
}

.progress-line-wrapper {
  position: relative;
  width: 777px;
  height: 13px;
  background-color: var(--color-light);
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.progress-line {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: var(--color-light);
  border-radius: 5px;
  -webkit-transition: width 0.5s ease-in-out;
  transition: width 0.5s ease-in-out;
}

.progress-circle {
  position: absolute;
  top: -5px;
  width: 23px;
  height: 23px;
  background-color: var(--color-light-blue);
  border: solid var(--color-dark-blue);
  border-radius: 50%;
  -webkit-transition: left 0.5s ease-in-out;
  transition: left 0.5s ease-in-out;
}

.progress-text {
  font-family: var(--font-family-base);
  font-size: min(12vw, 18px);
  font-weight: 600;
  line-height: 1.2;
  text-align: right;
  color: var(--color-light);
}

.upload input[type=file] {
  display: none;
}

.upload {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.upload-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 370px;
  height: 48px;
  padding: 10px 10px;
  font-size: min(10vw, 15px);
  text-transform: uppercase;
  color: var(--color-dark);
  background-color: var(--color-light);
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.upload-icon {
  width: 17px;
  aspect-ratio: 1;
  margin-right: 10px;
}

.upload-label:hover {
  background-color: var(--color-dark-blue);
  color: var(--color-light);
}

.order-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px 10px;
  width: 370px;
  height: 48px;
  margin-bottom: 150px;
  color: var(--color-light);
  background-color: var(--color-dark-blue);
  border: 1px solid var(--color-light);
  border-radius: 4px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 400;
  font-size: min(10vw, 13px);
  text-align: center;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.order-button:hover {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px 10px;
  width: 370px;
  color: var(--color-grey);
  background-color: var(--color-light);
  border: 1px solid #6F6D7B;
  border-radius: 4px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 400;
  font-size: min(10vw, 13px);
  text-align: center;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.footer-container {
  background-color: var(--color-footer);
}
.footer-container .footer-container-wrapper {
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
}
.footer-container .footer-container-wrapper .vertical-line {
  background-color: #C3C3C3;
  width: 1px;
  height: 18px;
}
.footer-container .footer-container-wrapper .footer-title {
  font-family: var(--font-family-base);
  color: var(--color-light);
  font-size: 13px;
  font-weight: 400;
  line-height: 1.2;
  text-align: left;
}
.footer-container .footer-container-wrapper .footer-container-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
  font-family: var(--font-family-base);
  color: #C3C3C3;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.2;
  text-align: left;
}
.footer-container .footer-container-wrapper .footer-container-list .footer-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
}
.footer-container .footer-container-wrapper .contact-link,
.footer-container .footer-container-wrapper .order-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-grid-column-align: center;
      justify-self: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 9px;
     -moz-column-gap: 9px;
          column-gap: 9px;
}

@media (max-width: 1200px) {
  .order-types-item {
    margin-bottom: 30px;
  }
  .order-inputs-group {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 40px;
  }
  .progress-line-wrapper {
    width: auto;
  }
  .footer-container-list {
    row-gap: 5px;
  }
  .order-types-form {
    width: 95%;
  }
  .order-inputs-group {
    width: 95%;
  }
  .order-types-form-input.input.form-input {
    width: 100%;
  }
  .upload {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .space-between {
    margin-bottom: 15px;
  }
}
@media (max-width: 800px) {
  .header {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    row-gap: 10px;
  }
  .header-menu {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .header-menu-link {
    height: 50px;
  }
  .navigation__title {
    margin: 0 0 0 15px;
  }
  .header-menu-list {
    gap: 40px;
  }
}
@media screen and (max-width: 552px) {
  .footer-container .footer-container-wrapper .vertical-line {
    display: none;
  }
  .footer-container-list.not-vissual {
    display: none !important;
  }
  .footer-container .footer-container-wrapper .footer-container-list {
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
}
@media screen and (max-width: 450px) {
  .container {
    padding-inline: 20px;
  }
  .header-menu-list {
    margin-top: 5px;
    gap: 5px;
  }
  .navigation__title {
    margin: 0 0 0 15px;
  }
  .promo {
    padding: 90px 0;
  }
  .promo-box {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    row-gap: 20px;
    -ms-flex-line-pack: justify;
        align-content: space-between;
  }
  .order-types-list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  ul.order-types-list div.order-points-container div.order-point-position-helper {
    display: none;
  }
  .order-button {
    margin-bottom: 80px;
    width: 288px;
  }
  .footer-container .footer-container-wrapper {
    -webkit-column-gap: 10px;
       -moz-column-gap: 10px;
            column-gap: 10px;
  }
}